*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg,rgb(255, 177, 108),rgb(253, 0, 253));
}

header{
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 80px;
    position: fixed;
    width: 1790px;
}

.navlist li{
    list-style: none;
}

.navlist{
    display: flex;
    margin: 0 25px;
    transform: translate(650px, 30px);
}

.navlist a{
    margin: 0 25px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    width: 30px;
    transition: padding 0.50s;
}

.navlist a:hover{
    color: rgb(61, 61, 61);
    background-color: #b1adad;
    padding: 5px 8px;
    border-radius: 7px;
    width: 3px;
}

.navlist a:active{
    color: rgb(255, 166, 88);
}

.image{
    background-color: black;
    width: 250px;
    height: 250px;
    transform: translate(200px);
    border-radius: 50%;
}
.profile{
   transform: translate(600px, 100px);
}

.name{
    background-color: transparent;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(170px, 30px);
}

.about{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ; transform: translate(170px, 30px);
}

.container{
    background-color: transparent;
    width: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 800px;
    transform: translate(-300px, 100px);
    border: 0.30px solid #fff;
    border-radius: 4px;
}

.business{
    max-width: 800px;
    align-items: center;
    transform: translate(30px, 40px);
    color: #000;
}

a:after{
    background-color: red;
    height: 3px;
    width: 0;
    position: absolute;
}

a:hover:after{
    width: 100%;
}

.busi{
    max-width: 800px;
    align-items: center;
    transform: translate(30px, 50px);
    color: #000;
}

.infor{
    transform: translate(30px, 80px);
    line-height: 60px;
    color: #000;
}

.container2{
    background-color: transparent;
    width: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 300px;
    transform: translate(-130px, 170px);
    border: 0.30px solid #fff;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.percent{
    background-color: #ff4120;
    width: 150px;
    height: 150px;
    transform: translate(50px, 70px);
    border-radius: 50%;
}

.tage{
    color: #fff;
    transform: translate(35px, 170px);

}

.circle{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6.8px);
    width: 120px;
    height: 120px;
    transform: translate(-85px, 84px);
    border-radius: 50%;
}

.percent2{
    background-color: #c2f800;
    width: 150px;
    height: 150px;
    transform: translate(50px, 70px);
    border-radius: 50%;
}

.circle2{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6.8px);
    width: 120px;
    height: 120px;
    transform: translate(-85px, 84px);
    border-radius: 50%;
}

.percent3{
    background-color: #ff2e09;
    width: 150px;
    height: 150px;
    transform: translate(50px, 70px);
    border-radius: 50%;
}

.circle3{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6.8px);
    width: 120px;
    height: 120px;
    transform: translate(-85px, 84px);
    border-radius: 50%;
}

.container3{
    background-color: transparent;
    width: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 410px;
    transform: translate(-130px, 230px);
    border: 0.30px solid #fff;
    border-radius: 4px;
}

.skill{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-70px, 160px);
    font-size: 40px;
}

.elem{
    width: 900px;
    transform: translate(40px, 50px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.line{
    background-color: #fff;
    height: 0.30px;
    transform: translate(0, 80px);
}

.highschool{
    transform: translate(40px, 130px);
    width: 800px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.line2{
    background-color: #fff;
    height: 0.30px;
    transform: translate(0, 170px);
}

.senior{
    transform: translate(40px, 210px);
    width: 820px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.education{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-60px, 200px);
    font-size: 40px;
}